// CONTACT STYLES
.contact-header {
  background: url(../assets/contact-image-1.jpg) no-repeat top right;
  background-size: cover;
  height: 75vh;
}

.contact-title {
  display: flex;
  align-items: center;
  height: 60vh;
  h1 {
    @include headers($primary-background, $primary-font, 4.35rem, 700);
    line-height: 58px;
    letter-spacing: 9px;
  }
}

// CONTACT POST STYLES
.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-form {
  background: #fff;
  padding: 80px 50px;
  transform: translate(70px, -150px);
  box-shadow: 20px 20px 0 $decoration;
  width: 60%;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-name-container,
.form-email-container {
  width: 45%;
  padding-bottom: 40px;

}

.form-name, 
.form-email {
  color: rgba(0,0,0,0.5);
  background: #fff;
  border: 1px solid $primary-background;
  font-weight: 300;
  Line-height: 32px; 
  Letter-spacing: 2px;
  border-bottom: 2px solid $decoration;
  width: 100%;
  padding-left: 30px;
  padding-bottom: 20px;

}

.form-bottom {
  margin-bottom: 40px;
}

.form-comment {
  color: rgba(0,0,0,0.5);
  width: 100%;
  padding: 20px 0 180px 30px;
  font-weight: 300;
  Line-height: 32px; 
  Letter-spacing: 2px;
  background: #fff;
  border: 2px solid $decoration;
}


input[type="submit"] {
  width: 100%;
  transition: all .3s;
  &:hover {
    color: $decoration;    
  }
}

.more-info {
  background-color: $secondary;
  border: 1px solid $secondary;
  font-family: $secondary-font;
  font-style: italic;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 10px 15px;
  color: #fafffe;
}

// CONTACT INFO STYLES
.contact-info {
  // width: 40%;
  padding-top: 100px;
  margin-right:120px;

}
.contact-social ul {
  display: flex;
  li {
    padding-right: 20px;
    a {  
      color: $text;
      transition: all .3s;
      &:hover {
        color: $decoration;
      }
    }
  }
}

.fa-facebook-f {
  font-size: 0.9rem;
}

.contact-box {
  a {
    color: $text;
    font-weight: 700;
    transition: all .3s;
    padding: 20px 0;
    line-height: 32px; 
    Letter-spacing: 2px;
    &:hover {
      color: $decoration;
    }
  }
  .address p {
    margin: 0;
  }
}

