header {
  background: url(../assets/home-image-1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  max-height: 863px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.logo {
  display: flex;
  align-items: center;
  h2 {
    color: $decoration;
    font-family: $secondary-font;
    font-style: italic;
    font-size: 1.73rem;
    font-weight: 900;
  }
}

nav {
  display: flex;
  ul {
    font-family: $primary-font;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      padding-left: 60px;
    }
  }
}

.header-container {
  position: relative;
}

.header-image {
  width: 44%;
  margin-top: 250px;
  z-index: 0;
}

.head-title {
  position: absolute;
  top: 10%;
  left: 36%;
  z-index: 1;
  max-width: 50%;
}

.main-title1 {
  @include headers($primary, $primary-font, 3.1rem, 700);
  line-height: 58px;
  letter-spacing: 6.7px;
  padding-left: 10px;
  margin-bottom: 25px;
}

.main-title2 {
  @include headers($secondary, $secondary-font, 5.56rem, 400);
  font-style: italic;
  line-height: 100px;
  margin-left: -10px;
  letter-spacing: 0;
}

