//VISIT GUYANA STYLES
.visit {
  // background: $secondary-background;

}

.visit-container {
  display: flex;
  padding: 200px 0 100px 0;
  justify-content: space-between;

}

.visit-text {
  width: calc(70% - 100px);
  margin-right: 100px;
  // width: 70%;
  // padding-right: 50px;
  h2 {
    @include headers($primary, $primary-font, 1.75rem, 400)
    line-height: 58px; 
    letter-spacing: 3.8px;
  }
}

.visit-image {
  width: 30%;
  padding-left: 50px;
  img {
    box-shadow: -20px 20px 0 $decoration;
  }
}

.more-info {
  a {
    background-color: $secondary;
    font-family: $secondary-font;
    font-style: italic;
    line-height: 32px;
    letter-spacing: 1px;
    padding: 10px 15px;
  }
}

//GALLERY WALL STYLES
.gallery {
  background: $secondary-background;
  padding: 100px 0;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
}

.gallery-box {
  width: calc(100% / 3);
  margin: 0 20px;
  display: flex;
}

.gallery-box1 {
  margin-left: 0;
}

.gallery-box3 {
  margin-right: 0;
}

//ABOUT SECTION STYLES
.about {
  // margin: 100px 0;
  padding: 100px 0;
}

.about-container {
  display: flex;
  flex-flow: row wrap;
}

.about-box {
  width: 50%;
  display: flex;
  // align-items: center;
}

.about-icon {
  padding-top: 5px;
}

.fas {
  color: $primary-background;
  background: $decoration;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.about-text {
  color: $primary;
  h2 {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 58px;
    letter-spacing: 3.2px;
  }
}

//NEW LOCATIONS STYLES
.location {
  background: $secondary-background;
  position: relative;
  padding: 100px 0;
}


.location-container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  // position: relative;
  // padding-top: 60px;

}

.location-container2 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  position: relative;
  text-align: right;
}

.location-box {
  width: 50%;
}

.location-image1 {
  position: absolute;
  left: 0;
  top: -30px;
  width: 43%;
  img {
    box-shadow: 20px 20px 0 $decoration;
  }
}

.location-image2 {
  position: absolute;
  right: 0;
  top: 120px;
  width: 43%;
  img {
    box-shadow: -20px 20px 0 $decoration;
  }
}

.location-text1 h2,
.location-text2 h2 {
  @include headers($secondary, $primary-font, 1.75rem, bold);
  Line-height: 58px; 
  letter-spacing: 3.8px;
  
}

.location-text1 {
  padding: 0 100px;
  padding-bottom: 60px;
  // margin-left: 100px;
}

.location-text2 {
  padding: 0 100px;
  padding-top: 80px;
}

// FREE TRIP STYLES
.beach-aerial {
  background: url(../assets/banner-image.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;
}

.free-trip {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 150px 100px;
  h2 {
    @include headers($primary, $primary-font, 1.75rem, 400)
    line-height: 58px; 
    letter-spacing: 3.8px;
  }
}

footer {
  background: #2c2c2c;
  p {
    padding: 5px 0;
    color: #fafffe;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }
}