// BLOG MEDIA QUERY STYLES
@media(max-width: 1200px) {
  nav {
    ul {
      text-align: left;
      flex-flow: column;
      display: flex;
      align-items: flex-start;
      padding-bottom: 30px;
      li {
        padding: 10px 0 10px 0;
      }
    }
  }

  .blog-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    h1 {
      font-size: 3.8rem;
    }
  }

  .blog-post-container {
    width: 40%;
    border: none;
  }

  aside {
    width: 50%;
    padding-left: 120px;
    padding-bottom: 100px;
  }

}

@media(max-width: 900px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }


  aside {
    width: 100%;
    padding: 0;
  }

  .blog-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    h1 {
      font-size: 3rem;
    }
  }

  .blog-post {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .blog-post-container {
    width: 100%;
  }

  .blog-post-image {
    img {
      box-shadow: 10px 10px 0 $decoration;
    }
  }

  .blog-post-text {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    h2 {
      @include headers($primary, $primary-font, 1.75rem, 400)
      line-height: 58px; 
      letter-spacing: 3.8px;
    }
    .date {
      color: $secondary;
      font-style: italic;
      span {
        font-weight: 700;
      }
    }
  }
  .comments {
    width: 100%;
    padding: 0;
    h2 {
      padding: 50px 0;
    }
  }
  .comment-box {
    display: block;
    width: 100%;
  }

  .comment-box-image {
    width: 40%;
  }

  .comment-box-text {
    width: 100%;
    padding: 0;
    p:first-child {
      margin: 0;
      color: $secondary;
      line-height: 1rem;
    }
  }

  .form-container {
    width: 90%;
    display: block;
    justify-content: space-between;
  }

  .form-name-container,
  .form-email-container {
    width: 100%;
    padding-bottom: 40px;
  }
}