article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  font-family: "Lato", sans-serif;
  background: #fafffe;
  position: relative; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }

h1, h2 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  color: #000;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px; }

a {
  text-decoration: none;
  color: #fafffe;
  display: inline-block a; }
  a :visited {
    display: none; }

img {
  display: block; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background: url(../assets/contact-image-1.jpg) no-repeat top right;
  height: 75vh; }

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo h2 {
  color: #50e3c2;
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-size: 1.73rem;
  font-weight: 900; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  nav ul {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    nav ul li {
      padding-left: 60px; }

.contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60vh; }
  .contact-title h1 {
    color: #fafffe;
    font-family: "Lato", sans-serif;
    font-size: 4.35rem;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 9px; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.contact-form {
  background: #fff;
  padding: 80px 50px;
  -webkit-transform: translate(70px, -150px);
  -ms-transform: translate(70px, -150px);
  transform: translate(70px, -150px);
  -webkit-box-shadow: 20px 20px 0 #50e3c2;
  box-shadow: 20px 20px 0 #50e3c2;
  width: 60%; }

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form-name-container,
.form-email-container {
  width: 45%;
  padding-bottom: 40px; }

.form-name,
.form-email {
  color: rgba(0, 0, 0, 0.5);
  background: #fff;
  border: 1px solid #fafffe;
  font-weight: 300;
  Line-height: 32px;
  Letter-spacing: 2px;
  border-bottom: 2px solid #50e3c2;
  width: 100%;
  padding-left: 30px;
  padding-bottom: 20px; }

.form-comment {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px 0 180px 30px;
  font-weight: 300;
  Line-height: 32px;
  Letter-spacing: 2px;
  background: #fff;
  border: 2px solid #50e3c2; }

.form-bottom {
  margin-bottom: 40px; }

input[type="submit"] {
  width: 100%; }

.more-info {
  background-color: #063974;
  border: 1px solid #063974;
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 10px 15px;
  color: #fafffe; }

.contact-info {
  padding-top: 100px;
  margin-right: 120px; }

.contact-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contact-social ul li {
    padding-right: 20px; }
    .contact-social ul li a {
      color: #2c2c2c; }

.fa-facebook-f {
  font-size: 0.9rem; }

.contact-box a {
  color: #2c2c2c;
  font-weight: 700; }

.contact-box .address p {
  margin: 0; }

footer {
  background: #2c2c2c; }
  footer p {
    padding: 5px 0;
    color: #fafffe;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    margin: 0; }

.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.blog-post-container {
  width: 60%;
  border-right: 5px solid #50e3c2;
  border-bottom: 5px solid #50e3c2; }

.blog-post-image {
  -webkit-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  transform: translate(0, -150px); }
  .blog-post-image img {
    -webkit-box-shadow: 20px 20px 0 #50e3c2;
    box-shadow: 20px 20px 0 #50e3c2; }

/*# sourceMappingURL=contact.css.map */